In [9]:
import pandas as pd
import numpy as np

In [4]:
df1=pd.DataFrame({
                  "değişken1":[10,25,5,45,78,95],
                  "değişken2":[100,250,50,450,780,950]},
                columns=["değişken1","değişken2"])

df1

   değişken1  değişken2
0         10        100
1         25        250
2          5         50
3         45        450
4         78        780
5         95        950

In [6]:
df1.apply("değişken1").sum()

258

In [7]:
df1.apply("değişken1")

0    10
1    25
2     5
3    45
4    78
5    95
Name: değişken1, dtype: int64

In [10]:
df1.apply(np.sum)

değişken1     258
değişken2    2580
dtype: int64

In [11]:
df1.apply(np.mean)

değişken1     43.0
değişken2    430.0
dtype: float64

****************************************************************

In [12]:
df2=pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                  "değişken1":[10,25,5,45,78,95],
                  "değişken2":[100,250,50,450,780,950]},
                columns=["gruplar","değişken1","değişken2"])

df2

  gruplar  değişken1  değişken2
0       A         10        100
1       B         25        250
2       C          5         50
3       A         45        450
4       B         78        780
5       C         95        950

In [21]:
df2.groupby("gruplar").apply(np.sum)

        gruplar  değişken1  değişken2
gruplar
A            AA         55        550
B            BB        103       1030
C            CC        100       1000

In [22]:
df2.groupby("gruplar").apply(np.mean)

C:\Users\buse\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: In a future version, DataFrame.mean(axis=None) will return a scalar mean over the entire DataFrame. To retain the old behavior, use 'frame.mean(axis=0)' or just 'frame.mean()'
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)
C:\Users\buse\Anaconda3\lib\site-packages\numpy\core\fromnumeric.py:3438: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  return mean(axis=axis, dtype=dtype, out=out, **kwargs)

         değişken1  değişken2
gruplar
A             27.5      275.0
B             51.5      515.0
C             50.0      500.0