In [1]:
import pandas as pd

In [31]:
df1=pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                  "değişken1":[10,23,33,22,11,99],
                  "değişken2":[100,253,333,262,111,969]},
                columns=["gruplar","değişken1","değişken2"])

df1

  gruplar  değişken1  değişken2
0       A         10        100
1       B         23        253
2       C         33        333
3       A         22        262
4       B         11        111
5       C         99        969

In [32]:
df1.groupby("gruplar").std()

         değişken1   değişken2
gruplar
A         8.485281  114.551299
B         8.485281  100.409163
C        46.669048  449.719913

In [33]:
def filter_func(x):
    return x["değişken1"].std()>9

In [36]:
df1.groupby("gruplar").filter(filter_func)

  gruplar  değişken1  değişken2
2       C         33        333
5       C         99        969