In [1]:
import pandas as pd
import numpy as np

In [19]:
a=np.random.randint(0,30,size=(10,3))
b=pd.DataFrame(a,columns=("v1","v2","v3"))
b

   v1  v2  v3
0  16  12   8
1   2  17  18
2  22  29   4
3  11  18  14
4  20  27   0
5  19  22  12
6   1  14  11
7  24  22   9
8  13   7  17
9  27   2   3

**Loc Yapısı**

In [11]:
b.loc[0:3]

   v1  v2  v3
0  15  11  27
1   7  20  27
2  10  18  13
3   4   5  25

In [22]:
b.loc[0:3,"v3"]

0     8
1    18
2     4
3    14
Name: v3, dtype: int32

**iloc Yapısı**

In [12]:
b.iloc[0:3]

   v1  v2  v3
0  15  11  27
1   7  20  27
2  10  18  13

In [14]:
b.iloc[1,0]

7

In [16]:
b.iloc[:2,:2]

   v1  v2
0  15  11
1   7  20

In [27]:
b.iloc[1:3,1:3] #satır(1den 3 e kadar) -sütün (1 den 3'e kadar)

   v2  v3
1  17  18
2  29   4

In [29]:
b.iloc[1:3]["v3"]

1    18
2     4
Name: v3, dtype: int32